
* {
    box-sizing: border-box;
}
.container {
    width: 700px;
    margin: 0 auto;
}

.nav-menu {
    display: table;
    margin: 0;
}

.nav-menu li {
    font-size: 18px;
    font-family: Inter;
    line-height: 24px;
    list-style: none;
    display: table-cell;
    padding: 20px;
}
.img {
    width: 1500px;
    height: 450px;
}

.title {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    font-family: Inter;
}

.description {
    font-size: 21px;
    font-family: Inter;
    font-weight: 500;
    line-height: 32px;
}

.mark {
    color: #04959E;
    font-weight: 600;
}

.list {
    font-size: 18px;
    font-family: Inter;
    padding-bottom: 60px;

}

.btn {
    background-color: #04959E;
    width: 144px;
    height: 44px;
    margin-left: 280px;
    margin-bottom: 60px;
}
.bth-link {
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    padding: 20px 30px;
}

.footer {
    border-top: 2px solid black;
    text-align: center;
    font-size: 18px;
    font-family: Inter;
}